html, body {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: hsl(212, 45%, 89%);
  margin: 0;
}

main.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 2rem);
}

.card {
  width: 288px;
  background-color: #fff;
  padding: 1rem;
  border-radius: 1.2rem;
  -webkit-box-shadow: 0px 9px 26px -9px rgba(0,0,0,0.14); 
  box-shadow: 0px 9px 26px -9px rgba(0,0,0,0.14);
}

.card-image {
  border-radius: 0.7rem;
  overflow: hidden;
}

.card-image img {
  width: 288px;
  height: 288px;
  display: block;
}

.card-title h3, .card-description p {
  width: 100%;
  text-align: center;
}

.card-title h3 {
  font-size: 1.4rem;
  color: hsl(218, 44%, 22%);
}

.card-description {
  padding: 0 .5rem;
  margin-bottom: 1.5rem;
}

.card-description p {
  color: hsl(216, 15%, 48%);
}

.footer {
  margin: .5rem 0;
}